* {           /* Concerne toutes les balises */
  margin: 0;
  padding: 0;
}

main {
  background: whitesmoke;
  width: 85%;
  min-height: 200px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.233);
}

body {
  background: radial-gradient(
    circle,
    rgb(66, 66, 66) 0%,
    rgb(168, 168, 168) 100%);
}

.Liens {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.LienAccueil {
  font-size: 2em;
  text-decoration-line: none;
  color: lightgoldenrodyellow;
  flex: auto;
}

.LienGenshin {
  font-size: 2em;
  text-decoration-line: none;
  color: lightgoldenrodyellow;
  flex: initial;
}

.HTML {
  visibility: visible;
  scale: 1;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.positioning {
  border: 2px solid skyblue;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;

  position: relative;
}

#circle {
  height: 60px;
  width: 60px;
  background: skyblue;
  border-radius: 50%;
  padding: 20px;
  position: absolute;  /* Si .positioning n'est pas en relative, alors le circle se met où il veut dans la page. Si .positionning est relative, le circle se mettra dans la box par rapport à ce parent. */
  top: 0;
  right: 56px;
  box-shadow: 0px 2px 12px 5px rgba(153, 92, 155, 0.767);
}

#rectangle {
  height: 60px;
  width: 100px;
  background: rgb(91, 133, 223);
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}