body {
  background-image: url(./Assets/Images/background_genshin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

.Liens {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.LienAccueil {
  font-size: 2em;
  text-decoration-line: none;
  color: red;
  flex: auto;
}

.LienCours {
  font-size: 2em;
  text-decoration-line: none;
  color: red;
  flex: initial;
}

table {
  background: lightgoldenrodyellow;
}

caption {
  font-size: 2em;
  font-weight: bold;
}

th {
  height: 50px;
  font-size: 2em;
}

td {
  height: 30px;
  text-align: center;
}

caption {
  background: goldenrod;
}