body {
  background-image: url(./background_genshin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

caption {
  font-size: 2em;
  font-weight: bold;
}

th {
  height: 50px;
  font-size: 2em;
}

td {
  height: 30px;
  text-align: center;
}
